<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking">
<listeners>

<listener class-name="com.Utilitiy.Reporting"/>


</listeners>
  <test thread-count="5" name="Banking Test">
<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.TestCases.CustomerClass_TCO3"/>
      <class name="com.TestCases.LoginClass_TC01"/>
      <class name="com.TestCases.LoginDataDriver_TC02"/>
     <!-- <class name="com.TestCases.Base"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
